<!DOCTYPE html>
<html lang="en" xmlns:th ="http://thymeleaf.org">
<head th:replace="base :: head"></head>
<body>
<nav th:replace="base :: navbar"></nav><br />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="color:#5E3023">About the Author</h1>
        <p class="lead">Hey! My name is Yusuf Reyazuddin and I'm a front-end web developer. I am currently attending a Intensive, Full-time
         Java Web Development bootcamp where I'm learning all about core Java, Object-Oriented Programming and HTML/CSS.</p>
        <span style="font-size: 3em; color: black"><i class="fab fa-facebook-square"></i><p>    </p><i class="fab fa-twitter-square"></i><p>    </p><i class="fab fa-instagram"></i></span>
    </div>
</div>
<footer th:replace="base :: footer"></footer>
</body>
<th:block th:replace="base :: jslinks"></th:block>
</html>
</body>
</html>