<!DOCTYPE html>
<html lang="en" xmlns:th ="http://thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css">
    <script src="https://kit.fontawesome.com/c815218afc.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" href="/"><span style="font-size: 1.5em; color: White"><i class="fas fa-mug-hot"></i></span>Java Junction</a>
    <!--<div class="navbar-nav">
        <a class="nav-item nav-link" href="/add">Submit a Message</a>
    </div>-->
    <div class="navbar-nav  ml-auto">
        <a class="nav-item nav-link" href="/add">Add a Message <span style="font-size: 1.5em; color: White;"><i class="fas fa-edit"></i></span></a>
    </div>
</nav>

<footer class="page-footer font-small footer-dark" th:fragment="footer">
    <div class="footer-copyright text-center py-3">© 2019 Copyright: <strong>Yusuf Reyazuddin</strong>
    </div>
</footer>
<th:block th:fragment="jslinks">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</th:block>
</body>
</html>