<!DOCTYPE html>
<html lang="en" xmlns:th ="http://thymeleaf.org">
<head th:replace="base :: head"></head>
<body>
<nav th:replace="base :: navbar"></nav><br />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="color:#5E3023">Composition</h1>
        <p class="lead"> Composition is when a class reuses functionality of a different class by creating a reference to the object of the class it wants to reuse. For example: A car has a engine, a window has a button, a zoo has a tiger.</p>
    </div>
</div>
<footer th:replace="base :: footer"></footer>
</body>
<th:block th:replace="base :: jslinks"></th:block>
</html>
</body>
</html>