<!DOCTYPE html>
<html lang="en" xmlns:th ="http://thymeleaf.org">
<head th:replace="base :: head"></head>
<body>
<nav th:replace="base :: navbar"></nav><br />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="color:#5E3023">Inheritance</h1>
        <p class="lead">The idea behind inheritance in Java is that you can create new classes that are built upon existing classes. When you inherit from an existing class, you can reuse methods and fields of the parent class.</p>
    </div>
</div>
<footer th:replace="base :: footer"></footer>
</body>
<th:block th:replace="base :: jslinks"></th:block>
</html>
</body>
</html>